<hr>
    <div class="row">
         <div class="col-xs-offset-3 col-xs-6">
            <% if messages.present? %>
                <% messages.each do |m| %>
                    <div class="row">
                      <% if m.user.id == current_user.id %>
                        <div class="box-design">
                      <% else %>
                        <div class="box-design-message">
                      <% end %>
                    <div class="row">
                      <div class="col-xs-offset-1">
                        <%= attachment_image_tag m.user, :image, :fill, 60, 60, fallback: "no-image.jpg", size:"60x60" %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-offset-1 col-xs-3">
                            <%= m.user.name %>
                      </div>
                    </div>
                    <div class="row">
                      <% if m.user.id == current_user.id %>
                        <div class="chat box-design col-xs-offset-2">
                      <% else %>
                        <div class="chat box-design-message col-xs-offset-2">
                      <% end %>
                          <strong><%= m.message %></strong>
                      </div><br>
                    </div>
                    <div class="row">
                      <div class="col-xs-offset-8">
                        <%= fa_icon "calendar" %>
                        <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="chat-btn col-xs-offset-10">
                        <% if m.user.id == current_user.id %>
                         <%= link_to "Delete", message_path(m, page: params[:page]),method: :delete, remote: true, data: {confirm: "Are you sure you want to delete it?",cancel:"No",commit:"Yes"},title:"Confirmation", class: "btn btn-danger btn-xs"%>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
            <% end %>
            <% if messages.present? %>
              <%= paginate messages, params: {controller: 'rooms', action: 'show', id: messages[0].room_id} %>
            <% end %>
          </div>
        </div>
      </div>