<div class="body">
  <div class="devise-wrapper container">
    <div class="row">
      <div class="col-xs-offset-5">
        <h2 class="sign-up-title">Sign up</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
            </div>
            <div class="field">
              <%= f.label :country, "Your country" %><br />
              <%= f.radio_button :country, :true %>
              <%= f.label :country, "Philipins" %>
              <%= f.radio_button :country, :false %>
              <%= f.label :country, "Japan" %>
            </div>



            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email,autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>