<hr>
<div class="margin-container row">
	<div class="col-xs-offset-3 col-xs-6">
		<% if @post.comments.blank? %>
			<h2 class="title">- No comments -</h2>
			<h2>
		<% else %>
			<h2 class="title">- <%= @post.comments.count %>
			Comments -
			</h2>
		<% end %>
		<% @post.comments.each do |comment| %>
		<%= attachment_image_tag comment.user, :image, :fill, 60, 60, fallback: "no-image.jpg", size:"60x60" %>
		<%= link_to user_path(comment.user) do %>
			<%= comment.user.name %>
		<% end %>
	  	<%= fa_icon "calendar" %>
		<%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
		<%= comment.comment %>
		<% if comment.user == current_user %>
			<%= link_to "Delete", post_comment_path(@post, comment),method: :delete , remote: true, class: "btn btn-danger" %>
		<% end %>
		<% end %>
    </div>
</div>