<div class="body">
	<div class="container">
		<!-- パンくずリスト -->
		<div class="row">
			<div class="col-xs-6">
				<ol class="breadcrumb">
					<li><%= link_to "Home", posts_path, data: { "turbolinks" => false }, class: "glyphicon glyphicon-home"%></li>
					<li><%= link_to "My page", user_path(@user) %></li>
					<li class="active">User Edit</li>
				</ol>
			</div>
		</div>
			<!-- 　　　　　　　 -->
			<!--   プロフィール -->
		<%= render "shared/simple_profile" %>
				<!-- 　　　　　　　　　 -->
				<!--     エラーメッセージ     -->
				<%= render "shared/error_messages", model: @user %>
				<!--                      -->
		<div class="margin-container row">
			<div class="edit-user col-xs-offset-2 col-xs-8">
			<h2 class="edit-title">- <%= fa_icon "cog" %>  Edit User -</h2>
				<div class="box-simple">
					<%= form_with model:@user, local: true do |f| %>
					<div class="row">
						<div class="user-edit-image">
							<%= attachment_image_tag @user, :image, fallback: "no-image.jpg", class: "user-image user-preview", id: "user-edit-image-size"%>
						</div>
					</div>
					<div class="row">
						<div class="image-field col-xs-offset-2">
							<%= f.attachment_field :image, id: "edit-user-image" %>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-offset-1 col-xs-4">
							<div class="name_field">
								<%= f.label "Name" , class: "contorol-label" %><br >
								<%= f.text_field :name, class: "form-control" %>
							</div>
						</div>
						<div class="col-xs-offset-1 col-xs-10">
							<div class="form-group profile-field">
								<%= f.label "Profile" , class: "contorol-label" %><br >
								<%= f.text_area :profile, class: "form-control", rows: "6" %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="update-btn col-xs-offset-9">
							<%= f.submit "Update", class: "btn btn-info" %>
						</div>
					</div>
						<% end %>
				</div>
			</div>
		</div>
	</div>
</div>