<div class="body">
	<div class="container">
		<!-- パンくずリスト -->
		<div class="row">
			<div class="col-xs-4">
				<ol class="breadcrumb">
					<li><%= link_to "Home", posts_path ,class: "glyphicon glyphicon-home"%></li>
					<li><%= link_to "My page", user_path(@user) %></li>
					<li class="active">User Edit</li>
				</ol>
			</div>
		</div>
			<!-- 　　　　　　　 -->
		<div class="box col-xs-offset-4 col-xs-4">
			<h2 class="title">- Edit User -</h2>
				<div class="user_edit">
					<%= form_with model:@user,local: true do |f| %>
						<%= f.attachment_field :image ,class: "upload-image"%>
					<div class="name_field">
						<%= f.label "Name" %><br >
						<%= f.text_field :name %>
					</div>
					<div class="profile_field">
						<%= f.label "Profile" %><br >
						<%= f.text_area :profile, rows: "4", cols: "40" %>
					</div>
					<div class="update_btn">
						<%= f.submit "Update", class: "btn btn-info" %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>