<div class="body">
	<div class="container">
		<!-- パンくずリスト -->
		<div class="row">
			<div class="col-xs-4">
				<ol class="breadcrumb">
					<li><%= link_to "Home", posts_path ,class: "glyphicon glyphicon-home"%></li>
					<li><%= link_to "My page", user_path(@user) %></li>
					<li class="active">User Edit</li>
				</ol>
			</div>
		</div>
			<!-- 　　　　　　　 -->
			<!--   プロフィール -->
		<%= render "shared/simple_profile" %>
				<!-- 　　　　　　　　　 -->
		<div class="margin-container row">
			<div class="edit-user box col-xs-offset-2 col-xs-7">
			<h2 class="title">- <%= fa_icon "cog" %>  Edit User -</h2>
				<div class="user_edit row">
					<div class="col-xs-offset-2 col-xs-5">
						<%= form_with model:@user,local: true do |f| %>
						<%= attachment_image_tag @user, :image, fallback: "no-image.jpg", size: "430x300",class: "user-preview"%>
						<%= f.attachment_field :image ,class: "upload-image", id: "edit-user-image" %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-offset-2 col-xs-4">
						<div class="name_field">
							<%= f.label "Name" ,class: "contorol-label" %><br >
							<%= f.text_field :name ,class: "form-control"%>
						</div>
					</div>
					<div class="col-xs-offset-2 col-xs-8">
						<div class="form-group profile-field">
							<%= f.label "Profile" ,class: "contorol-label" %><br >
							<%= f.text_area :profile, class: "form-control", rows: "6" %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="update-btn col-xs-offset-8">
						<%= f.submit "Update", class: "btn btn-info" %>
					</div>
				</div>
						<% end %>
			</div>
		</div>
	</div>
</div>