<div class="body">
	<div class="container">
		<!-- パンくずリスト -->
		<div class="row">
			<div class="col-xs-3">
				<ol class="breadcrumb">
					<li><%= link_to "Home", posts_path,class: "glyphicon glyphicon-home" %></li>
					<li class="active">Users</li>
				</ol>
			</div>
		</div>
		<!--          -->
		<div class="row">
			<div class="">
				<h2>All Users</h2>
				<% @users.each do |user| %>
					<%= attachment_image_tag user, :image, :fill, 60, 60, fallback: "no-image.jpg", size:"60x60" %>
					<%= link_to user_path(user) do %>
						<%= user.name %>
					<% end %>
					<% if user.country == true %>
						Philipins
					<% else %>
						Japan
					<% end %>
					last login
					<%= user.current_sign_in_at %>
				<% end %>
			</div>
		</div>
	</div>
</div>