<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="row">
	<div class="notification-item col-xs-offset-1 col-xs-11">
		<%= link_to user_path(notification.visitor) do %>
			<%= attachment_image_tag notification.visitor, :image, :fill, 40, 40, fallback: "no-image.jpg", size: "40x40" %>
			<strong><%= visitor.name %></strong>
		<% end %>
		<% case notification.action %>
		<% when "like" then %>
			<strong>LIKED</strong>
			<%= link_to "Your post", notification.post %>
		<% when "comment" then %>
			<% if notification.comment.user_id == visited.id %>
				<%= link_to "your post", notification.post%>
			<% else %>
				<strong>COMMENTED</strong>
				<%= link_to post_path(notification.post) do %>
					Your post
				<% Comment.find_by(id: notification.comment_id) %>
				<% end %>
			<% end %>
		<% when "message" then %>
			<% if notification.message.user_id == visitor.id %>
				<strong>SENT A MESSAGE</strong>
			<% end %>
		<% end %>
			<div class="notification-time col-xs-7">
				<%= time_ago_in_words(notification.created_at).upcase %>
			</div>
	</div>
</div>
