<div class="body">
	<div class="container">
		<!-- 　　　フラッシュメッセージ -->
		<%= render partial: "shared/flash" %>
		<!-- 　　　　　　　　　　　　 -->
		<!--     エラーメッセージ     -->
		<%= render "shared/error_messages", model: @contact %>
		<!--                      -->
		<div class="row">
	      <div class="box-simple contact_form col-xs-offset-4 col-xs-4">
	            <h2 class="title-contact">- <%= fa_icon "paper-plane-o" %> Contact Form -</h2>
	            <%= form_with model: @contact,url: contacts_path,local: true do |f| %>
	            <%= f.label "Name" %><br>
	            <%= f.text_field :name, class: "form-control" %>
	            <%= f.label "Email" %><br>
	            <%= f.text_field :email, class: "form-control"%>
	            <%= f.label "Content" %><br>
	            <%= f.text_area :content, class: "form-control" %>
	            <%= f.submit "Send Email",class: "send-btn btn btn-success"%>
	            <% end %>
	        </div>
	      </div>
	</div>
</div>