  <div class="mainvisual">
    <header class="header-top">
        <div class="header-logo">
            <%= image_tag 'logo.jpg', alt: "[Logo]whale shark" %>
        </div>
        <nav>
          <ul>
            <div class="nav-list">
              <%= fa_icon "home" %>
              <%= link_to "Top", root_path %>
            </div>
            <div class="nav-list">
              <%= fa_icon "user-plus"%>
              <%= link_to "Sign up", new_user_registration_path %>
            </div>
            <div class="nav-list">
              <%= fa_icon "sign-in"%>
              <%= link_to "Log in", new_user_session_path %>
            </div>
            <div class="nav-list">
              <%= fa_icon "paper-plane-o" %>
              <%= link_to "Contact", new_contacts_path %>
            </div>
          </ul>
        </nav>
      </header>
      <div class="row">
        <div class="shake-hands col-xs-offset-1 col-xs-10">
          <h1 class="catch-copy">Forever and Ever</h1>
        </div>
      </div>
  </div>
  <div class="body">
    <!--       フラッシュメッセージ　　　 -->
    <%= render partial: "shared/flash" %>
      <!--                        -->
     <div class="about-section">
        <div class="about">
          <h1 class=about-text>"Let`s meet again someday"<br> is here.</h1>
        </div>
        <div class="about-sub-text">
          <p>It is a community site that connects <strong>Cebu</strong> and <strong>Japan</strong>.</p>
        </div>
     </div>
     <div class="row">
       <div class="post-section col-xs-offset-1">
          <div class="post-img">
          </div>
          <div class="post-text col-xs-offset-1">
            <p><span class="big-char">If</span> you use this,
              <br> you can share your
              <br> updates with photos
              <br>like Twitter.
            </p>
          </div>
       </div>
     </div>
     <div class="tutorial">
      <%= video_tag "/assets/videos/post.mp4", :autoplay => true, :loop => true, muted: true, size: "900x600" %>
     </div>
     <div class="row">
       <div class="recruit-section">
          <div class="recruit-text col-xs-6">
            <p><span class="big-char">If</span> you use this,
              <br> you can find teachers
              <br> and students for
              <br> English lessons.
            </p>
          </div>
          <div class="recruit-img col-xs-6">
          </div>
        </div>
      </div>
     <div class="tutorial">
        <%= video_tag "/assets/videos/match.mp4", :autoplay => true, :loop => true, muted: true, size: "900x600" %>
     </div>
     <div class="row">
       <div class="message-section">
          <div class="message-text col-xs-6">
            <p><span class="big-char">If</span> you use this,
              <br> you can send a
              <br> message to each other.
            </p>
          </div>
          <div class="message-img col-xs-offset-1">
          </div>
       </div>
     </div>
     <div class="tutorial">
      <%= video_tag "/assets/videos/message.mp4", :autoplay => true, :loop => true, muted: true, size: "900x600" %>
     </div>
     <!--   -------------------------------------- -->
     <div class="others-section">
      <h1 class="others-title">- Other functions -</h1>
        <div class="panel-group" id="topAccordion">
          <div class="panel panel-default like-panel">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#topAccordion" href="#likeAccordionCollapse">
                  <%= fa_icon "heart-o"%> LIKE
                </a>
              </h3>
            </div>
            <div id="likeAccordionCollapse" class="panel-collapse collapse cllapse">
              <div class="panel-body">
                <%= image_tag 'like.png', :size =>'300x300', class: "panel-image" %>
              </div>
            </div>
          </div>
          <!--   ----------------------------------------          -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#topAccordion" href="#weatherAccordionCollapse">
                  <%= fa_icon "cloud" %> Weather
                </a>
              </h3>
            </div>
            <div id="weatherAccordionCollapse" class="panel-collapse collapse">
              <div class="panel-body">
                <%= image_tag 'weather.png', :size =>'300x300', class: "panel-image" %>
              </div>
            </div>
          </div>
          <!--  ------------------------------ -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#topAccordion" href="#rankingAccordionCollapse">
                  <%= fa_icon "user-o"%> RANKING
                </a>
              </h3>
            </div>
            <div id="rankingAccordionCollapse" class="panel-collapse collapse">
              <div class="panel-body">
                <%= image_tag 'rank.png', :size =>'300x300', class: "panel-image" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>