<!DOCTYPE html>
<html>
  <head>
    <title>Segurado!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="mainvisual">
    <header class="header">
        <div class="header-logo">
          <a href="/" title="header-logo">
            <img src="/assets/logo.jpg" alt="[Logo]whale shark">
          </a>
        </div>
        <nav>
          <ul>
            <div class="nav-list">
              <%= fa_icon "home" %>
              <%= link_to "Top", root_path %>
            </div>
            <div class="nav-list">
              <%= fa_icon "user-plus"%>
              <%= link_to "Sign up", new_user_registration_path %>
            </div>
            <div class="nav-list">
              <%= fa_icon "sign-in"%>
              <%= link_to "Log in", new_user_session_path %>
            </div>
          </ul>
        </nav>
      </header>

      <div class="shake-hands">
        <h1 class="catch-copy">Forever and Ever</h1>
      </div>
  </div>
  <div class="body">
     <div class="section">
        <div class="about">
          <h1 class=about-text>"Let`s meet again someday"<br> is here.</h1>
        </div>
        <div class="sub-text">
        </div>
     </div>
     <div class="post-section">
        <div class="post-img">
        </div>
        <div class="post-text">
          <p>　<span class="big-char">If</span> you use this,
            <br> you can share your
            <br> updates with photos
            <br>like Twitter.
          </p>
        </div>
     </div>
     <div class="recruit-section">
        <div class="recruit-text">
          <p><span class="big-char">If</span> you use this,
            <br> you can find teachers
            <br> and students for
            <br> English lessons.
          </p>
        </div>
        <div class="recruit-img">
        </div>
     </div>
  </div>
  <footer>
    <div class="footer-logo">
      <a href="/" title="footer-logo">
        <img src="/assets/logo2.jpg" alt="[Logo]whale shark">
      </a>
    </div>
  </footer>
</html>