<!DOCTYPE html>
<html>
  <head>
    <title>Segurado!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="mainvisual">
    <header class="header">
        <div class="header-logo">
          <a href="/" title="header-logo">
            <img src="/assets/logo.jpg" alt="[Logo]whale shark">
          </a>
        </div>
        <nav>
          <ul>
            <div class="nav-home">
              <%= fa_icon "home" %>
              <%= link_to "Top", root_path %>
            </div>
            <div class="nav-sign-up">
              <%= fa_icon "user-plus"%>
              <%= link_to "Sign up", new_user_registration_path %>
            </div>
            <div class="nav-login">
              <%= fa_icon "sign-in"%>
              <%= link_to "Log in", new_user_session_path %>
            </div>
          </ul>
        </nav>
      </header>

      <div class="shake-hands">
        <h1 class="catch-copy">Forever and Ever</h1>
      </div>
  </div>
  <div class="wrapper">
     <div class="section">
        <div class="main-text">
          <h1></h1>
        </div>
        <div class="sub-text">
        </div>
     </div>
     <div class="section">
     </div>
     <div class="section">
     </div>
  </div>
  <footer>
    <div class="footer-logo">
      <a href="/" title="footer-logo">
        <img src="/assets/logo2.jpg" alt="[Logo]whale shark">
      </a>
    </div>
  </footer>
</html>