<div class="body">
  <div class="devise-wrapper container">
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <h2 class="title">- <%= fa_icon "sign-in" %> Log in -</h2>
          <div class="box-simple">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="login-field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>

              <div class="login-field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="login-field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
              <div class="row">
                <div class="actions col-xs-offset-8">
                  <%= f.submit "Log in", class: "btn btn-success" %>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>