<div class="body">
  <div class="container">
    <div class="row">
    <h2 class="title">- Message -</h2>
    <% @entries.each do |e| %>
    <div class="user-name">
    <strong>
        <%= attachment_image_tag e.user, :image, :fill, 100, 100, class:"user-image" %>
        <a class="rooms-user-link" href="/users/<%= e.user.id %>">
            <%= e.user.name %>
        </a>
    </strong>
    </div>
    <% end %>
    <hr>
    <div class="chats">
         <div class="chat">
            <% if @messages.present? %>
                <% @messages.each do |m| %>
                    <div class="chat-box">
                        <div class="chat-face">
                        <%= attachment_image_tag m.user, :image, :fill, 100, 100, class:"user-image" %>
                        </div>
                    <div class="chat-hukidashi"> <strong><%= m.message %></strong> <br>
                    <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
                    </div>
                    </div>
                <% end %>
            <% end %>
          </div>
          <div class="posts">
            <%= form_with model: @message,local: true do |f| %>
            <%= f.text_field :message, placeholder: "input your message" , size: 70, class:"form-text-field" %>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.submit "Send",class: 'form-submit'%>
            <% end %>
          </div>
    </div>
    </div>
  </div>
</div>
