<div class="body">
  <div class="container">
      <!-- パンくずリスト -->
    <div class="row">
      <div class="col-xs-3">
        <ol class="breadcrumb">
          <li><%= link_to "Home", posts_path, data: {"turbolinks" => false}, class: "glyphicon glyphicon-home" %></li>
          <li><%= link_to "Users", users_path,class: "glyphicon glyphicon-home" %></li>
          <li class="active">Message</li>
        </ol>
      </div>
    </div>
    <!-- 　　　　　　 -->
    <!--   プロフィール -->
    <%= render "shared/simple_profile" %>
        <!-- 　　　　　　　　　 -->
        <!--       フラッシュメッセージ　　　 -->
  <div id="flash_area">
    <%= render partial: "shared/flash" %>
  </div>
      <!--                        -->
      <!--     エラーメッセージ     -->
  <div id="error_area"></div>
    <!--                      -->
    <div class="col-xs-offset-4 col-xs-4">
      <h2 class="title">- <%= fa_icon "comments-o" %>  Message -</h2>
    </div>
    <!-- 　　　　ユーザー　　　　　 -->
    <div class="row">
      <div class="col-xs-offset-5 col-xs-4">
        <% if @room.user_id == current_user.id
          user = @room.guest
        else
          user = @room.user
        end
          %>
        <%= attachment_image_tag user, :image, :fill, 100, 100,  fallback: "no-image.jpg", size:"100x100", class: "message-user" %>
            <strong>
              <%= link_to user.name ,user_path(user.id), class: "message-user" %>
            </strong>
        </div>
    </div>
    <!-- 　　　　　　　　　　 -->
       <!-- 　　　メッセージフォーム　　　　　 -->
      <hr>
      <div class="row">
        <div class="form-group col-xs-offset-4 col-xs-4">
          <% if @messages.first_page? %>
            <h4 class="message-form-title">- Message Form -</h4>
            <%= form_with model: @message do |f| %>
            <%= f.text_area :message, placeholder: "Input your message" , col: "50", class:"form-control" %>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.hidden_field :visited_id, value: user.id %>
            <div class="row">
              <div class="chat-btn col-xs-offset-9">
                <%= f.submit "Send",class: 'btn btn-success'%>
              </div>
            </div>
            <% end %>
        </div>
        <% end %>
      </div>
    <!-- 　　　　　　　　 -->
    </div>
    <!-- 　　　　メッセージ一覧　　　 -->
    <div id="message_area">
      <%= render partial: "messages/message", locals: { messages: @messages } %>
    </div>
          <!-- 　　　　　　　　                -->
  </div>
</div>
