<div class="match">
	<div class="container">
		<!--       パンくずリスト     -->
		<div class="row">
			<div class="col-xs-4">
				<ol class="bread_crumb_recruit breadcrumb">
					<li><%= link_to "Home", posts_path,class: "glyphicon glyphicon-home" %></li>
					<li><%= link_to "Recruit", matches_path %></li>
					<li class="active">Edit Post</li>
				</ol>
			</div>
		</div>
		<!--        　　　　　　      -->
		<div class="margin-container row">
			<div class="col-xs-offset-2">
				<h2 class="title">- Edit Your Post -</h2>
				<%= form_with model:@match, local: true do |f| %>
				<%= f.radio_button :occupation, :true,checked: true %>
				<%= f.label :occupation, "Search Students" %>
				<%= f.radio_button :occupation, :false %>
				<%= f.label :occupation, "Search Teachers" %>
				<%= f.label :title, "Title" %><br />
				<%= f.text_field :title %>
				<%= f.label :text, "Text" %><br />
				<%= f.text_area :text, rows: "5", cols: "40" %>
				<%= f.submit "Update", class: "btn btn-primary"%>
				<%= link_to "Delete", match_path,method: :delete,class: "btn btn-danger" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

