<div class="body">
	<div class="container">
		<div class="row">
			<div class="">
				<h2>Edit Post</h2>
					<div class="">
						<%= form_with model:@post,local: true do |f| %>
						<%= f.attachment_field :image %>
						<%= f.text_area :text %>
						<%= f.submit "Update", class: "btn btn-info" %>
						<%= link_to "Delete", post_path,method: :delete,class: "btn btn-danger" %>
						<% end %>
					</div>
			</div>
		</div>
	</div>
</div>