<div class="body">
	<div class="container">
		<div class="row">
			<!-- パンくずリスト -->
			<div class="col-xs-3">
				<ol class="breadcrumb">
					<li><%= link_to "Home", posts_path,class: "glyphicon glyphicon-home" %></li>
					<li><%= link_to "My page", user_path(current_user) %></li>
					<li class="active">Edit Post</li>
				</ol>
			</div>
			<!-- 　　　　　　　 -->
			<div class="box col-xs-offset-4 col-xs-4">
				<h2 class="title">Edit Post</h2>
					<div class="edit_post">
						<%= form_with model:@post,local: true do |f| %>
						<%= f.attachment_field :image ,class: "upload-image" %>
						<%= f.text_area :text , rows: "4", cols: "40"%>
						<%= f.submit "Update", class: "btn btn-info" %>
						<%= link_to "Delete", post_path,method: :delete,class: "btn btn-danger" %>
						<% end %>
					</div>
			</div>
		</div>
	</div>
</div>