<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<!-- パンくずリスト -->
				<ol class="breadcrumb">
					<li><%= link_to "Home", posts_path, data: {"turbolinks" => false}, class: "glyphicon glyphicon-home"%></li>
					<li class="active">New Post</li>
				</ol>
				<!-- 　　　　　　　 -->
				<!--   プロフィール -->
				<%= render "shared/simple_profile" %>
				<!-- 　　　　　　　　　 -->
				<!--     エラーメッセージ     -->
				<%= render "shared/error_messages", model: @post %>
				<!--                      -->
			</div>
		</div>
			<div class="row">
				<div class="box col-xs-offset-3 col-xs-6">
					<h2 class="title">- <%= fa_icon "wrench" %> New Post -</h2>
						<%= form_with model:@post,local: true do |f| %>
						<div class="row">
							<div class="upload-image col-xs-offset-1 col-xs-10">
								<%= attachment_image_tag @post, :image, fallback: "no_image_post.jpg", class: "post-preview"%>
							</div>
						</div>
						<div class="row">
							<div class="image-field col-xs-offset-1">
								<%= f.attachment_field :image, id: "new-post-image" %>
							</div>
						</div>
								<%= f.text_area :text,:placeholder => "　What are you doing now?", rows: "5",cols: "50", class: "form-control" %>
						<div>
							<div class="row">
								<div class="col-xs-offset-9">
									<%= f.submit "Post", class: "btn-post btn btn-info" %>
								</div>
							</div>
						</div>
						<% end %>
				</div>
			</div>
	</div>
</div>