<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				<!-- パンくずリスト -->
				<ol class="breadcrumb">
					<li><%= link_to "Home", posts_path ,class: "glyphicon glyphicon-home"%></li>
					<li class="active">New Post</li>
				</ol>
				<!-- 　　　　　　　 -->
				<!--   プロフィール -->
		<%= render "shared/simple_profile" %>
				<!-- 　　　　　　　　　 -->
			</div>
			<div class="box col-xs-offset-4 col-xs-4">
				<h2 class="title">New Post</h2>
					<div class="new_post">
						<%= form_with model:@post,local: true do |f| %>
						<div class="upload-image">
							<%= f.attachment_field :image %>
						</div>
						<%= f.text_area :text,:placeholder => "　What are you doing now?", rows: "5",cols: "50" %>
						<div>
							<%= f.submit "Post", class: "btn-post btn btn-info" %>
						</div>
						<% end %>
					</div>
			</div>
		</div>
	</div>
</div>