<div class="body">
	<div class="container">
				<%= flash[:notice] %>
		
	<!--        パンくずリスト      -->
		<div class="row">
			<div class="col-xs-2">
				<ol class="breadcrumb">
					<li><%= link_to "Home", posts_path,class: "glyphicon glyphicon-home" %></li>
					<li class="active">Post</li>
				</ol>
			</div>
		</div>
	<!-- 　　　　　　　      -->
	<!--   プロフィール -->
		<%= render "shared/simple_profile" %>
				<!-- 　　　　　　　　　 -->
	<!--     投稿詳細　　　　 -->
		<div class="margin-container row">
			<div class="col-xs-offset-3 col-xs-5">
				<h2 class="title">-  <%= @post.user.name %>`s Post -</h2>
			  <%= attachment_image_tag @post.user, :image, :fill, 60, 60, fallback: "no-image.jpg", size:"60x60" %>
			  <%= link_to user_path(@post) do %>
			  	<%= @post.user.name %>
			  <% end %>
			<!-- 　　　　いいね　　　 -->
			  <div id="likes_buttons_<%= @post.id %>">
				<%= render partial: "likes/like", locals: {post: @post} %>
			  </div>
          	<!-- 　　　　　　　 -->
      		  <%= attachment_image_tag @post, :image, :fill, 300, 400 %>
      		  <%= @post.text %>
    		  <%= fa_icon "calendar" %>
      		  <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %>
      		  <% if @post.user_id == current_user.id %>
      		  	<%= link_to "Edit" , edit_post_path(@post), class: "btn btn-primary" %>
      		  <% end %>
			</div>
		</div>
	<!-- 　　　投稿詳細　ここまで　　　　 -->
	<!-- コメント一覧 -->
	<div id="comment_area">
		<%= render partial: "comments/comment", locals: { post: @post} %>
	</div>
	<!-- 　　　　    　　 -->
	<!-- コメントフォーム -->
	<div id="comment-form">
		<%= render partial: "comments/comment_form", locals: { comment: @comment, post: @post }%>
	</div>
	<!-- 　　　　　　　　 -->
</div>