<!DOCTYPE html>
<html>
  <head>
    <title>Segurado!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header">
    <div class="header-logo">
      <a href="/" title="header-logo">
        <img src="/assets/logo.jpg" alt="[Logo]whale shark">
      </a>
    </div>
    <nav>
    <ul>
      <% if user_signed_in? %>
        <div class="nav-list">
            <%= fa_icon "home" %>
            <%= link_to "Home", posts_path %>
         </div>

          <div class="nav-list">
            <%= fa_icon "user-circle-o" %>
            <%= link_to "My page",posts_path%>
         </div>
         <div class="nav-list">
            <%= fa_icon "handshake-o" %>
            <%= link_to "Recruit", posts_path %>
         </div>
         <div class="nav-list">
            <%= fa_icon "sign-out" %>
            <%= link_to "Log out", destroy_user_session_path %>
         </div>
       <% else %>
         <div class="nav-list">
            <%= fa_icon "home" %>
            <%= link_to "Top", root_path %>
         </div>
         <div class="nav-list">
            <%= fa_icon "user-plus"%>
            <%= link_to "Sign up", new_user_registration_path %>
          </div>
          <div class="nav-list">
            <%= fa_icon "sign-in"%>
            <%= link_to "Log in", new_user_session_path %>
          </div>
        <% end %>
    </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <div class="footer-logo">
      <a href="/" title="footer-logo">
        <img src="/assets/logo2.jpg" alt="[Logo]whale shark">
      </a>
    </div>
  </footer>
</html>
