<!DOCTYPE html>
<html>
  <head>
    <title>Segurado!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header">
    <!-- 　　　　　ロゴ　　　　 -->
    <div class="header-logo">
        <img src="/assets/logo.jpg" alt="[Logo]whale shark">
    </div>
    <!-- 　　　　　　　　　　　 -->
    <nav>
    <ul>
      <% if user_signed_in? %>
        <div class="nav-list">
            <%= fa_icon "home" %>
            <%= link_to "Home", posts_path , data: {"turbolinks" => false} %>
         </div>

          <div class="nav-list">
            <%= fa_icon "user-circle-o" %>
            <%= link_to "My page",user_path(current_user)%>
         </div>

         <div class="nav-list">
            <%= fa_icon "users" %>
            <%= link_to "Users", users_path %>
          </div>

         <div class="nav-list">
            <%= fa_icon "handshake-o" %>
            <%= link_to "Recruit", matches_path %>
         </div>
         <div class="nav-list">
            <%= fa_icon "sign-out" %>
            <%= link_to "Log out", destroy_user_session_path,method: :delete %>
         </div>
       <% else %>
         <div class="nav-list">
            <%= fa_icon "home" %>
            <%= link_to "Top", root_path %>
         </div>
         <div class="nav-list">
            <%= fa_icon "user-plus"%>
            <%= link_to "Sign up", new_user_registration_path %>
          </div>
          <div class="nav-list">
              <%= fa_icon "sign-in"%>
              <%= link_to "Log in", new_user_session_path %>
          </div>
        <% end %>
    </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <p id="page-top"><a href="#"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></a></p>
    
    <!--    問合せフォーム -->
    <div class="row">
      <div class="box-simple contact_form col-xs-offset-8 col-xs-3">
            <h2 class="title-contact">- <%= fa_icon "paper-plane-o" %> Contact Form -</h2>
            <%= form_with model: @contact,url: contacts_path,local: true do |f| %>
            <%= f.label "Name" %><br>
            <%= f.text_field :name, class: "form-control" %>
            <%= f.label "Email" %><br>
            <%= f.text_field :email, class: "form-control"%>
            <%= f.label "Content" %><br>
            <%= f.text_area :content, class: "form-control" %>
            <%= f.submit "Send Email",class: "send-btn btn btn-success"%>
            <% end %>
        </div>
      </div>
      <!-- 　ロゴ　　　 -->
    <div class="row">
      <div class="footer-logo">
        <%= link_to posts_path, data: {"turbolinks" => false} do %>
                 <img src="/assets/logo2.jpg" alt="[Logo]whale shark">
        <% end %>
      </div>
    </div>
    <!--           -->
  </footer>
</html>

