<!DOCTYPE html>
<html>
  <head>
    <title>Segurado!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
  <footer>
    <p id="page-top"><a href="#"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></a></p>
      <!-- 　ロゴ　　　 -->
    <div class="row">
      <div class="footer-logo">
        <%= link_to posts_path, data: {"turbolinks" => false} do %>
          <%= image_tag 'logo2.jpg', alt: "[Logo]title" %>
        <% end %>
      </div>
    </div>
    <!--           -->
  </footer>
</html>